 .player1 {
   width: 603px;
   heigth: 265px;
   min-width:603px;
   min-height:265px;
   background-image: url(https://i.imgur.com/jkFROQp.png);
   position: relative;
   visibility: visible;
        -webkit-transition: all 1s ease;
   -o-transition: all 1s ease;
   -moz-transition: all 1s ease;
   z-index: 1;
 }
 

 
 .player1:hover {
   width: 603px;
   heigth: 265px;
   min-width:603px;
   min-height:265px;
   background-image: url(https://i.imgur.com/kChrgtD.png);
   position: relative;
   z-index: 1;
 }


 .player2 {
   width: 603px;
   heigth: 265px;
   min-width:603px;
   min-height:265px;
   background-image: url(https://i.imgur.com/QHQBAvl.png);
   position: relative;
   visibility: visible;
          -webkit-transition: all 1s ease;
   -o-transition: all 1s ease;
   -moz-transition: all 1s ease;
   z-index: 1;
 }
 

 
 .player2:hover {
   width: 603px;
   heigth: 265px;
   min-width:603px;
   min-height:265px;
   background-image: url(https://i.imgur.com/BknxhXy.png);
   position: relative;
   z-index: 1;
 }


 .player3 {
   width: 603px;
   heigth: 265px;
   min-width:603px;
   min-height:265px;
   background-image: url(https://i.imgur.com/mKfTVss.png);
   position: relative;
   visibility: visible;
        -webkit-transition: all 1s ease;
   -o-transition: all 1s ease;
   -moz-transition: all 1s ease;
   z-index: 1;
 }
 

 
 .player3:hover {
   width: 603px;
   heigth: 265px;
   min-width:603px;
   min-height:265px;
   background-image: url(https://i.imgur.com/oqaxrK6.png);
   position: relative;
   z-index: 1;
 }
